# Keil MDK Build Output
Objects/
Listings/

# Keil MDK User-specific files
*.uvguix.*
*.uvoptx
*.uvproj

# Debug Config
DebugConfig/

# Compiled object files
*.o
*.crf
*.d
*.dep
*.axf
*.lnp
*.sct
*.__i
*.htm
*.build_log.htm

# J-Link
JLinkLog.txt
JLinkSettings.ini
*.jlink

# Cleanup script
keilkilll.bat

# Hidden files
.project
